@model List<MVCAPP.Models.TicketDetail>

<hr/>
<form>
<h2>ADMIN</h2>
    <h3>DashBoard</h3>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>TicketId</th>
                <th>Category Name</th>
                <th>Query Message</th>
                <th>Date Issued</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var ticketDetail in Model)
                {
                    <tr>
                        <td>@ticketDetail.TicketId</td>
                        <td>@ticketDetail.CategoryName</td>
                        <td>@ticketDetail.MessageContent</td>
                        <td>@ticketDetail.DateIssued</td>
                        <td>@ticketDetail.Status</td>
                        <td><a class="text-success" asp-controller="Response" asp-action="Index"  asp-route-id="@ticketDetail.TicketId">Responses</a></td>
                    </tr>

                }

            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Tickets
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</form>