@model List<MVCAPP.Models.TicketDetail>


@{
    var statuses = ViewData["StatusList"] as List<string>;
    var categories = ViewData["CategoryList"] as List<string>;
    var emails=ViewData["Emails"] as List<SelectListItem>;
}

<div class="container">
<div class="row" style="margin-top: 25px">
    <form asp-controller="Admin" asp-action="Search" class="filter-frm">
        <div class="form-group row justify-content-right">
            <div class="col-md-2" >
                <label for="ticketId" class="control-label">Search</label>
                <input id="ticketId" name="ticketId" class="form-control" type="text" />
            </div>
            <div class="col-md-1" style="margin-top: 25px; text-align: center">
            <input type="submit" value="Search" class="submit-filter" />
        </div>
        </div>
    </form>
</div>
<div class="row" style="margin-top: 25px">
<form asp-controller="Admin" asp-action="Filter" class="filter-frm">
    <div class="form-group row justify-content-center">
        <div class="col-md-2" >
            <label for="StartDate" class="control-label">Start Date</label>
            <input id="start-date" name="startDate" class="form-control" type="date" value="@DateTime.Now" />
        </div>
        <div class="col-md-2">
            <label for="EndDate" class="control-label">End Date</label>
            <input id="end-date" name="endDate" class="form-control" type="date" value="@DateTime.Now" />
        </div>
        <div class="col-md-2" >
            <label for="status" class="control-label">Status</label>
            <select name="status" class="form-control">
                @if (statuses != null)
                {
                    @foreach (var item in statuses)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="category" class="control-label">Category</label>
            <select name="category" class="form-control">
                @if (categories != null)
                {
                    @foreach (var item in categories)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-1" style="margin-top: 25px; text-align: center">
            <input type="submit" value="Filter" class="submit-filter" />
        </div>
    </div>
</form>
</div>
    <div class="row justify-content-center mt-2">
            @if (Model != null && Model.Any())
            {
                @foreach (var ticketDetail in Model)
                {
                    <div class="card ticket-card">
                        <div class="card-header ticket-card-header">
                            Ticket Reference @ticketDetail.TicketId         @ticketDetail.Status
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@ticketDetail.CategoryName</h5>
                            <h6 class="card-text">@ticketDetail.DateIssued</h6>
                            <p class="card-text">@ticketDetail.MessageContent</p>  
                            <a class="view-response-btn" asp-controller="Response" asp-action="Index"  asp-route-id="@ticketDetail.TicketId">Responses</a>
                            <div class="col-md-4">
                                <form asp-controller="Admin" asp-action="Assign" class="filter-frms">
                                    <label for="emails" class="control-label">Assigned</label>
                                    <select class="form-control" id='emaillist' name='devId'>
                                        <option value="">No Dev has been assigned yet </option>
                                        @foreach (var email in emails)
                                            {
                                                <option value="@email.Value" 
                                                        selected="@(email.Value == ticketDetail.DevId)">
                                                    @email.Text
                                                </option>
                                            }

                                    </select> 
                                        <input type="hidden" id="ticketId" name="ticketId" value="@ticketDetail.TicketId" />
                                    <div class="col-md-1" style="margin-top: 25px; text-align: center">
                                        <input type="submit" value="Assign" class="submit-filter" />
                                    </div>
                                </form> 
                            </div>
                        </div>

                    </div>

                }
            }
            else
            {
                <h1>No tickets found</h1>
            }

    </div>
</div>

<div id="pagination-container" class="pagination justify-content-center"></div>