@model MVCAPP.Models.ResponseViewModel

@{
    ViewData["Title"] = "Ticket Details";
}

<head>

</head>

<div class="container">

<div class="row justify-content-center mt-4">
    <div class="card ticket-card">
        <div class="card-header ticket-card-header">
            Ticket Reference @Model.Ticket.TicketId      @Model.Ticket.Status
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Ticket.CategoryName</h5>
            @if(Context.Session.GetString("DevId") != null)
            {
                <h5 class="card-title text-danger">@Model.Priority</h5>               
                            
            }           
            <h6 class="card-text">@Model.Ticket.DateIssued</h6>
            <p class="card-text">@Model.Ticket.MessageContent</p>
            <p class="card-text">Attachments</p>
            <a class="card-text">@Model.Ticket.Links</a>
        </div>
    </div>
 </div>   

<div class="row justify-content-center mt-4">
            @if (Model.Responses != null && Model.Responses.Any())
            {
                @foreach (var response in Model.Responses)
                {
                    <div class="card ticket-card">
                        <div class="card-header ticket-card-header">
                            Response Reference @response.ResponseId
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">@response.date</h6>
                            @* TODO : Add When db updates *@
                            @* <p class="card-text">@response.sender</p> *@
                            <p class="card-text">@response.ResponseMessage</p>
                        </div>
                    </div>                   
                }

            }
            else
            {
                <h1>No tickets found</h1>
            }

</div>

<div style="padding: 0 15%; margin: 2rem 0;text-align: end;">
    <a class="view-response-btn" asp-area="" asp-controller="Ticket" asp-action="ViewTicket" >Back To Tickets</a>
</div>

</div>

<div id="pagination-container" class="pagination justify-content-center"></div>


